	.port-container{
			height:100vh;
			line-height:initial;
			padding:100px 5% 100px 5%;
			position:absolute;
			width:100%;
			z-index:10;
		}
		
		.close-port-jumbotron{
			display:none;
		}
		
		.port-inner{
			height:24.7%;
			margin:0px;
			background:#AAA;
		}
		
		#port-items-cont{
			position:relative;
			width:100%;
			top:0;
			left:0;
			z-index:1;
			height:48.9vw;
			overflow:hidden;
		}
		
		.port-item{
			height:24%;
			border:2px solid #fff;
			text-align:center;
			font-size:1.25em;
			padding:0px;
		}
		
		.port-item p{
			height:100%;
			color:#fff;
		}
		
		@-moz-keyframes DD{
			from{background-color:#333;}
			to{background-color:#777;}
		}
		
		.port-item:hover{
			-moz-animation:DD 1s;
			-moz-animation-fill-mode:both;
			-moz-animation-direction:alternate;
		}
		
		
		@-moz-keyframes portClose{
			from{font-size:3.3rem;color:black;}
			to{font-size:3.7rem;color:red;}
		}
		.port-close{
			font-size:3.3rem;
			margin:20px;
			position:absolute;
			right:0px;
			color:black;
		}
		.port-close:hover{
			-moz-animation:portClose 0.3s;
			-moz-animation-fill-mode:both;
			-moz-direction:alternate;
		}
			
		.port-close:active{
			color:darkred;
		}
		
		.close-front{
			display:none;
		}
		
		.close-items-box{
			display:none;
		}
		
		@media(min-width:768px){
			.port-item{
				height:100%;
			}
			.port-inner{
				height:;
			}
		}
		
		@media(max-width:768px){
			.port-inner{
				height:auto;
			}
			.port-item{
				height:4%;
			}
		}
		
		#j5carousel2{
			margin:-48px -60px;
		}
		
		.projIMG{
			position:absolute;
			top:0;
			left:0;
			z-index:-999;
		}
		
		.sample.desc{
			color:#fff;
		}
		
		.sample.title{
			color:#fff;
		}
		
		.float-item{
				padding:8.332%;
				max-width:200px;
				float:left;
				//background-color:#999;
				//border:1px solid #fff;
				position:relative;
				//-moz-transition:background-size 1s;
				overflow:hidden;
			}
			
			.float-item:hover a{
				visibility:visible;
			}
			
			div.screen{
				background-color:rgba(255,255,255,0.0);
				position:absolute;
				width:100%;
				height:100%;
				top:0;
				left:0;
				-moz-animation: screenout 1s;
				-moz-animation-fill-mode: both;
				-moz-animation-direction: alternate;
				z-index:1;
			}
			
			div.screen:hover{
				-moz-animation: screenin 1s;
				-moz-animation-fill-mode: both;
				-moz-animation-direction: alternate;
			}
			
			@-moz-keyframes screenin{
				from{background-color:rgba(255,255,255,0.0)}
				to{background-color:rgba(255,255,255,1.0)}
			}
			
			@-moz-keyframes screenout{
				from{background-color:rgba(255,255,255,1.0)}
				to{background-color:rgba(255,255,255,0.0)}
			}
			
			@-moz-keyframes floatrun{
				from{background-color:#999;}
				to{background-color:#fff;}
			}
			
			.float-item:hover{
				//background-size:130% 130% !important;
			}
			
			@-moz-keyframes h3fadein{
				from{
					top:-10%;
					opacity:0.0;
				}
				to{
					top:23%;
					opacity:1.0;
				}
			}
			
			@-moz-keyframes h3fadeout{
				from{
					top:23%;
					opacity:1.0;
				}
				to{
					top:-10%;
					opacity:0.0;
				}
			}
			
			.float-item a{
				display:block;
				position:absolute;
				width:100%;
				height:100%;
				top:0px;
				left:0px;
				color:#fff;
				text-decoration:none;
				text-align:center;
				font-size:1rem;
				visibility:hidden;
				
			}
			
			.float-item a:hover{
				text-decoration:none;
				color:black;
			}
			
			.float-item a:hover h3{
				-moz-animation:h3fadein 1s;
				-moz-animation-fill-mode:both;
			}
			
			.float-item a h3{
				position:absolute;
				left:0px;
				width:100%;
				-moz-animation:h3fadeout 1s;
				-moz-animation-fill-mode:both;
				top:0%;
				opacity:0.0;
				font-size:2.5vw;
			}
			
			#float-type{
				background-color:#fff; 
				position:relative; 
				//border:2px solid #444; 
				//display:flex;
				overflow:auto;
			}
			
			#float-type::after{
				display:block;
				content:"";
			}
			
			.portfolio-desc{
					background-color:#333;
					width:100%;
					position:absolute;
					height:50vw;
					top:0;
				}
				
				.portfolio-desc-inner{
					background-color:#222;
					width:100vw;
					position:absolute;
					top:100%;
					display:flex;
					justify-content:center;
					flex-direction:column;
				}
				
				.portfolio-header-cont{
					position:relative;
					top:0;margin:0px;
					display:flex;
					justify-content:center;
					flex-direction:row;
				}
				
				.portfolio-header{
					background-color:#666;
					text-align:center;
					color:#FFF;
					font-size:2.5vw;
					position:relative;
					top:0;margin:10px 0px;
				}
				
				.portfolio-desc-primary{
					font-size:1.75vw;
					color:#fff;
				}
				
				.portfolio-desc-secondary{
					background-color:#000;
					font-size:1.50vw;
				}
				
				@media(max-width:1024px){
					.portfolio-header{
						font-size:3vw;
					}
					
					.portfolio-desc-primary{
						font-size:2.25vw;
					}
					
					.portfolio-desc-secondary{
						font-size:1.75vw;
					}
				}
				
				@media(min-width:1186px){
					.portfolio-desc-secondary{
						display:none;
					}
				}
				
				@media(min-width:1450px){
					.portfolio-desc-primary{
						display:none;
					}
				}
				
				@media(min-width:1650px){
					.portfolio-desc{
						display:none !important;
					}
				}
				
				.img-item {
					position:absolute;
					width:auto;
					height:100%;
					top:0;
					left:0;
					-moz-transition:transform 0.5s;
				}
			
				.float-item:hover .img-item{
					transform: Scale(1.1);
				}