	.main{
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	.port-container{
			height:100vh;
			line-height:initial;
			padding:100px 5% 100px 5%;
			position:absolute;
			width:100%;
			z-index:10;
			overflow-y: hidden;
		}

		.close-port-jumbotron{
			display:none;
		}

		.port-inner{
			height:24.7%;
			margin:0px;
			background:#AAA;
		}

		#port-items-cont{
			position:relative;
			width:100%;
			top:0;
			left:0;
			z-index:1;
			height:48.9vw;
			overflow:hidden;
		}

		.port-item{
			height:24%;
			border:2px solid #fff;
			text-align:center;
			font-size:1.25em;
			padding:0px;
		}

		.port-item p{
			height:100%;
			color:#fff;
		}
/*Keyframes for DD			*/

		@-webkit-keyframes DD {
			from { background-color: #333; }
			to { background-color: #777; }
		}
		@-o-keyframes DD {
			from { background-color: #333; }
			to { background-color: #777; }
		}
		@-moz-keyframes DD {
			from { background-color: #333; }
			to { background-color: #777; }
		}
		@keyframes DD {
			from { background-color: #333; }
			to { background-color: #777; }
		}

/*End of keyframes for DD		*/

		.port-item:hover{
			-moz-animation:DD 1s;
			-moz-animation-fill-mode:both;
			-moz-animation-direction:alternate;
			-webkit-animation:DD 1s;
			-webkit-animation-fill-mode:both;
			-webkit-animation-direction:alternate;
			-o-animation:DD 1s;
			-o-animation-fill-mode:both;
			-o-animation-direction:alternate;
			animation:DD 1s;
			animation-fill-mode:both;
			animation-direction:alternate;
		}


/*Keyframes for PortClose*/
		@-webkit-keyframes portClose {
			from { font-size: 3.3rem;color: black; }
			to { font-size: 3.7rem;color: red; }
		}
		@-o-keyframes portClose {
			from { font-size: 3.3rem;color: black; }
			to { font-size: 3.7rem;color: red; }
		}
		@-moz-keyframes portClose {
			from { font-size: 3.3rem;color: black; }
			to { font-size: 3.7rem;color: red; }
		}
		@keyframes portClose {
			from { font-size: 3.3rem;color: black; }
			to { font-size: 3.7rem;color: red; }
		}
/*End of keyframes for PortClose		*/


		.port-close{
			font-size:3.3rem;
			margin:20px;
			position:absolute;
			right:0px;
			color:black;
		}
		.port-close:hover{
			-moz-animation:portClose 0.3s;
			-moz-animation-fill-mode:both;
			-moz-animation-direction:alternate;
			-webkit-animation:portClose 0.3s;
			-webkit-animation-fill-mode:both;
			-webkit-animation-direction:alternate;
			-o-animation:portClose 0.3s;
			-o-animation-fill-mode:both;
			-o-animation-direction:alternate;
			animation:portClose 0.3s;
			animation-fill-mode:both;
			animation-direction:alternate;
		}

		.port-close:active{
			color:darkred;
		}

		.front{
			background:url(images/example-image-1.jpeg) no-repeat center center;
			background-size:cover;
		}

		.close-front{
			display:none;
		}

		.close-items-box{
			display:none;
		}

		@media(min-width:768px){
			.port-item{
				height:100%;
			}
			.port-inner{
				height:;
			}
		}

		@media(max-width:768px){
			.port-inner{
				height:auto;
			}
			.port-item{
				height:4%;
			}
		}

		#j5carousel2{
			margin:-48px -60px;
		}

		.projIMG{
			position:absolute;
			top:0;
			left:0;
			z-index:-999;
		}

		.sample.desc{
			color:#fff;
		}

		.sample.title{
			color:#fff;
		}

		.float-item{
				padding:8.332%;
				max-width:200px;
				float:left;
				//background-color:#999;
				//border:1px solid #fff;
				position:relative;
				//-moz-transition:background-size 1s;
				overflow:hidden;
			}

			.float-item:hover a{
				visibility:visible;
			}

			div.screen{
				background-color:rgba(255,255,255,0.0);
				position:absolute;
				width:100%;
				height:100%;
				top:0;
				left:0;
				-moz-animation: screenout 1s;
				-moz-animation-fill-mode: both;
				-moz-animation-direction: alternate;
				-webkit-animation: screenout 1s;
				-webkit-animation-fill-mode: both;
				-webkit-animation-direction: alternate;
				-o-animation: screenout 1s;
				-o-animation-fill-mode: both;
				-o-animation-direction: alternate;
				animation: screenout 1s;
				animation-fill-mode: both;
				animation-direction: alternate;
				z-index:1;
			}

			div.screen:hover{
				-moz-animation: screenin 1s;
				-moz-animation-fill-mode: both;
				-moz-animation-direction: alternate;
				-webkit-animation: screenin 1s;
				-webkit-animation-fill-mode: both;
				-webkit-animation-direction: alternate;
				-o-animation: screenin 1s;
				-o-animation-fill-mode: both;
				-o-animation-direction: alternate;
				animation: screenin 1s;
				animation-fill-mode: both;
				animation-direction: alternate;
			}

			/*@-moz-keyframes screenin{
				from{background-color:rgba(255,255,255,0.0)}
				to{background-color:rgba(255,255,255,1.0)}
			}*/

			/*Keyframes for screenin*/

			@-webkit-keyframes screenin {
				from { background-color: rgba(255,255,255,0.0); }
				to { background-color: rgba(255,255,255,1.0); }
			}
			@-o-keyframes screenin {
				from { background-color: rgba(255,255,255,0.0); }
				to { background-color: rgba(255,255,255,1.0); }
			}
			@-moz-keyframes screenin {
				from { background-color: rgba(255,255,255,0.0); }
				to { background-color: rgba(255,255,255,1.0); }
			}
			@keyframes screenin {
				from { background-color: rgba(255,255,255,0.0); }
				to { background-color: rgba(255,255,255,1.0); }
			}

			/*End of keyframes for screenin*/

/*Keyframes for screenout*/
			/*@-moz-keyframes screenout{
				from{background-color:rgba(255,255,255,1.0)}
				to{background-color:rgba(255,255,255,0.0)}
			}*/

			@-webkit-keyframes screenout {
				from { background-color: rgba(255,255,255,1.0); }
				to { background-color: rgba(255,255,255,0.0); }
			}
			@-o-keyframes screenout {
				from { background-color: rgba(255,255,255,1.0); }
				to { background-color: rgba(255,255,255,0.0); }
			}
			@-moz-keyframes screenout {
				from { background-color: rgba(255,255,255,1.0); }
				to { background-color: rgba(255,255,255,0.0); }
			}
			@keyframes screenout {
				from { background-color: rgba(255,255,255,1.0); }
				to { background-color: rgba(255,255,255,0.0); }
			}
/*End of keyframes for screenout*/

/*Keyframes for floatrun*/

			/*@-moz-keyframes floatrun{
				from{background-color:#999;}
				to{background-color:#fff;}
			}*/

			@-webkit-keyframes floatrun {
				from { background-color:#999; }
				to { background-color: #fff; }
			}
			@-o-keyframes floatrun {
				from { background-color:#999; }
				to { background-color: #fff; }
			}
			@-moz-keyframes floatrun {
				from { background-color:#999; }
				to { background-color: #fff; }
			}
			@keyframes floatrun {
				from { background-color:#999; }
				to { background-color: #fff; }
			}
/*End of keyframes for floatrun*/

			.float-item:hover{
				//background-size:130% 130% !important;
			}

/*Keyframes for h3fadein*/

			/*@-moz-keyframes h3fadein{
				from{
					top:-10%;
					opacity:0.0;
				}
				to{
					top:23%;
					opacity:1.0;
				}
			}*/

			@-webkit-keyframes h3fadein {
				from {
					top: -10%;
					opacity: 0.0;
				 }
				to {
					 top: 23%;
					 opacity: 1.0;
				 }
			}
			@-o-keyframes h3fadein {
				from {
					top: -10%;
					opacity: 0.0;
				 }
				to {
					 top: 23%;
					 opacity: 1.0;
				 }
			}
			@-moz-keyframes h3fadein {
				from {
					top: -10%;
					opacity: 0.0;
				 }
				to {
					 top: 23%;
					 opacity: 1.0;
				 }
			}
			@keyframes h3fadein {
				from {
					top: -10%;
					opacity: 0.0;
				 }
				to {
					 top: 23%;
					 opacity: 1.0;
				 }
			}
/*End of keyframes for h3fadein*/



/*keyframes for h3fadeout*/


			@-webkit-keyframes h3fadeout{
				from{
					top:23%;
					opacity:1.0;
				}
				to{
					top:-10%;
					opacity:0.0;
				}
			}
			@-o-keyframes h3fadeout{
				from{
					top:23%;
					opacity:1.0;
				}
				to{
					top:-10%;
					opacity:0.0;
				}
			}
			@-moz-keyframes h3fadeout{
				from{
					top:23%;
					opacity:1.0;
				}
				to{
					top:-10%;
					opacity:0.0;
				}
			}
			@keyframes h3fadeout{
				from{
					top:23%;
					opacity:1.0;
				}
				to{
					top:-10%;
					opacity:0.0;
				}
			}

/*End of keyframes for h3fadeout*/

			.float-item a{
				display:block;
				position:absolute;
				width:100%;
				height:100%;
				top:0px;
				left:0px;
				color:#fff;
				text-decoration:none;
				text-align:center;
				font-size:1rem;
				visibility:hidden;

			}

			.float-item a:hover{
				text-decoration:none;
				color:black;
			}

			.float-item a:hover h3{
				-moz-animation:h3fadein 1s;
				-moz-animation-fill-mode:both;
				-webkit-animation:h3fadein 1s;
				-webkit-animation-fill-mode:both;
				-o-animation:h3fadein 1s;
				-o-animation-fill-mode:both;
				animation:h3fadein 1s;
				animation-fill-mode:both;
			}

			.float-item a h3{
				position:absolute;
				left:0px;
				width:100%;
				-moz-animation:h3fadeout 1s;
				-moz-animation-fill-mode:both;
				-webkit-animation:h3fadeout 1s;
				-webkit-animation-fill-mode:both;
				-o-animation:h3fadeout 1s;
				-o-animation-fill-mode:both;
				animation:h3fadeout 1s;
				animation-fill-mode:both;
				top:0%;
				opacity:0.0;
				font-size:2.5vw;
			}

			#float-type{
				background-color:#fff;
				position:relative;
				//border:2px solid #444;
				//display:flex;
				overflow:auto;
			}

			#float-type::after{
				display:block;
				content:"";
			}

			.portfolio-desc{
					background-color:#333;
					width:100%;
					position:absolute;
					height:50vw;
					top:0;
				}

				.portfolio-desc-inner{
					background-color:#222;
					width:100vw;
					position:absolute;
					top:100%;
					display:flex;
					justify-content:center;
					flex-direction:column;
				}

				.portfolio-header-cont{
					position:relative;
					top:0;margin:0px;
					display:flex;
					justify-content:center;
					flex-direction:row;
				}

				.portfolio-header{
					background-color:#666;
					text-align:center;
					color:#FFF;
					font-size:2.5vw;
					position:relative;
					top:0;
					margin:10px 0px;
				}

				.portfolio-desc-primary{
					font-size:1.75vw;
					color:#fff;
					padding:1vw;
					position:relative;
				}

				.portfolio-desc-secondary{
					background-color:#000;
					font-size:1.50vw;
					padding:1vw;
					position:relative;
				}

				.covertitle{
					display:none;
					margin: 0;
					position: absolute;
					z-index: 1;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					font-size: 8.7vw;
					color: rgba(255,255,255,0.5);
					width:100%;
					text-align:center;
					/*opacity: 0.0;*/
					-webkit-animation: showCovertitle 2s;
					-webkit-animation-direction: normal;
					-webkit-animation-fill-mode:both;
					animation: showCovertitle 2s;
					animation-fill-mode:both;
					animation-direction: normal;
				}

				#port-items-cont:hover .covertitle{
					/*display:none;*/
					-moz-animation:reveal 2s;
					-moz-animation-direction:normal;
					-moz-animation-fill-mode:both;
					-webkit-animation:reveal 2s;
					-webkit-animation-direction:normal;
					-webkit-animation-fill-mode:both;
					-o-animation:reveal 2s;
					-o-animation-direction:normal;
					-o-animation-fill-mode:both;
					animation:reveal 2s;
					animation-direction:normal;
					animation-fill-mode:both;
				}

/*Keyframes for showCovertitle*/
				@-webkit-keyframes showCovertitle {
					from { opacity: 0.0; }
					to { opacity: 1.0; }
				}
				@-o-keyframes showCovertitle {
					from { opacity: 0.0; }
					to { opacity: 1.0; }
				}
				@-moz-keyframes showCovertitle {
					from { opacity: 0.0; }
					to { opacity: 1.0; }
				}
				@keyframes showCovertitle {
					from { opacity: 0.0; }
					to { opacity: 1.0; }
				}
/*End of keyframes for showCovertitle*/



/*Keyframes for reveal*/

				/*@-moz-keyframes reveal{
					from{
						opacity:1.0;
					}
					to{
						opacity:0.0;
					}
				}*/

				@-webkit-keyframes reveal {
					from { opacity: 1.0; }
					to { opacity: 0.0; }
				}
				@-o-keyframes reveal {
					from { opacity: 1.0; }
					to { opacity: 0.0; }
				}
				@-moz-keyframes reveal {
					from { opacity: 1.0; }
					to { opacity: 0.0; }
				}
				@keyframes reveal {
					from { opacity: 1.0; }
					to { opacity: 0.0; }
				}

/*End of keyframes for reveal*/

				@media(max-width:1024px){
					.portfolio-header{
						font-size:3vw;
					}

					.portfolio-desc-primary{
						font-size:2.25vw;
					}

					.portfolio-desc-secondary{
						font-size:1.75vw;
					}
				}

				@media(max-width:768px){
					.portfolio-header{
						font-size:5vw;
					}

					.portfolio-desc-primary{
						font-size:2.75vw;
					}

					.portfolio-desc-secondary{
						font-size:2.25vw;
					}
				}

				@media(min-width:1132px){
					.portfolio-desc-secondary{
						display:none;
					}
				}

				@media(min-width:1400px){
					.portfolio-desc-primary{
						display:none;
					}
				}

				@media(min-width:1650px){
					.portfolio-desc{
						display:none !important;
					}

					.covertitle{
						display:block;
					}
				}

				.img-item {
					position:absolute;
					width:auto;
					height:100%;
					top:0;
					left:0;
					-moz-transition:transform 0.5s;
					-webkit-transition:transform 0.5s;
					-o-transition:transform 0.5s;
					transition:transform 0.5s;
				}

				.float-item:hover .img-item{
					-webkit-transform: Scale(1.1);
					-ms-transform: Scale(1.1);
					transform: Scale(1.1);
				}

.select-screen{
	height:100%;
	width:100%;
	position: absolute;
	background:#000;
	z-index: 1;
	top:0;
	left:0;
	opacity: 0.5;
}
